body {
    display: flex;
    justify-content: center;
    background-color: #6ee7cd;
    flex-direction: column;
    align-items: center;
}
div{
    margin-top: 100px
}
input, button{
    border: 4px solid #000000;
    padding: 10px;
    border-radius: 10px;
}
input{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
button{
margin-left: -5px;
border-left: none;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
}
input:focus{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
 margin: 0;
}